<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				  <%
				  var image_src = '
						<% re2.img_src %>
					';

				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
										<% for (var i = 0; i < result.length; i++ ) { %>
											<option value="<%= result.id %>"> <%= result.name %></option>
										<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Year</th>
							<td><%= re2.year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%= re2.major %> </td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%= re2.games_played %>	</td>
						</tr>
						<tr>
							<td>Passing Yards: </td>
							<td>Avg. Passing Yards: <%= re2.passing_yards %> </td>
						</tr>
						<tr>
							<td>Rushing Yards: </td>
							<td>Avg. Rushing Yards: <%= re2.rushing_yards%></td>
						</tr>
						<tr>
							<td>Receiving Yards: </td>
							<td>Avg. Receiving Yards: <%= re2.receiving_yards%> </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
